.aboutUs_image {
    display: none
}

.aboutUs_container {
    background-color:#F3F3F3;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs_title {
    font-size: 2rem;
    color:rgb(82, 80, 80);
    line-height: 2;
    margin-top: 2em;
    text-align: center;
}

.aboutUs_text {
    padding: 3em 0;
    width: 50vw;
    font-size: 1.3em;
    font-weight: lighter;
    line-height: 1.5em;
    text-align: center;
    color:rgb(82, 80, 80);
}

