.contactUs_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F3F3F3;
    @media only screen and (min-width:1224px){
        margin-top:5em;
        height: 95vh;
        width: 100vw;
        background-color: white;
        background-image: url("../images/footer_bg_img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        align-items: flex-end;
        
    }
}
.contactUs_boxtwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width:1224px){
        margin-right:1em;
        padding-right: 1em;
        width: 40%;
    //ffff
    }
}

.contactUs {
    font-size: 2rem;
    color:rgb(82, 80, 80);
    line-height: 2;
    margin-top: 2em;
    text-align: center;
    @media only screen and (min-width:1224px){
        font-size: 1.5em
    }
}

.contactUs_info {
    color:rgb(82, 80, 80);
    font-style: italic;
    margin-bottom: 1em;
}

.contactUs_input {
    border: none;
    border-bottom: 1px solid rgb(82, 80, 80);
    background: none;
    margin: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 0.9em;
    font-weight: 300;
    outline: none;
    @media only screen and (min-width:1224px){ 
         width:65%
    }
}
