@import './navbar.scss';


.showcase {
    background:#F3F3F3;
    font-family: 'Open Sans', sans-serif; 
    color:rgb(82, 80, 80);
    height: 60px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    @media only screen and (min-width:1224px){
        display: none;
    } 
}
header {
    background-color:#F3F3F3;
    @media only screen and (min-width:1224px){
        background-color: white;
        background-image: url("../images/header.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 95vh;
        width: 100vw;
    }  

}

.maintext {
    font-size: 2rem;
    color:rgb(82, 80, 80);
    margin-bottom: 2rem;
    margin-top: 1.4rem;
    line-height: 2;
    @media only screen and (min-width:1224px){
        text-align: center;
        font-size: 1.5em;
        grid-row: 6/9;
        grid-column: 15/25;
        font-weight: 100;
    }
}
button {
        background-color: white;
        border: solid 1px rgb(82, 80, 80);
        font-size: 1em;
        color:rgb(82, 80, 80);
        padding:0.6em;
        margin: 1em;
        width: 10rem;
        transition-duration: 0.5s;        
    }
 button:hover {
     background-color: #fbce00;
     color:black;
     border:solid 1px #fbce00;
    }

.ButThree {
     @media only screen and (min-width:1224px){
        background-color: white;
        border: solid 1px #fbce00;
        font-size: 1em;
        color:dimgray;
        padding:0.3em;
        width:30em;
            }
        }     
.containerOne {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media only screen and (min-width:1224px){
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(25 , 1fr);
        grid-template-rows: repeat(15, 1fr);  
        grid-gap: 0.7rem;
        position: relative;
    }
}

.decor {
    @media only screen and (min-width:1224px){
        grid-column: 16/20;
        grid-row: 9/11;
        margin-left:1.4em;
    }
}
ul {
    @media only screen and (min-width:1224px){ 
        a {
            border: solid 1px transparent;
            padding: 0.3rem
        }
        
    }
}
.admin {
    @media only screen and (min-width:1224px){
        grid-column: 18/25; 
        grid-row: 1/3;
        display: flex;

    } 
}
.Nav_But {
    @media only screen and (min-width:1224px){
        grid-column: 17/23;
        grid-row: 11/13;
        display: flex;
        margin-left: -2.5em;
    }   
}

