.foundations_title {
    font-size: 2rem;
    color:rgb(82, 80, 80);
    line-height: 2;
    margin-top: 2em;
    text-align: center;
}
.foundations_box {
    font-family: 'Open Sans', sans-serif;
    width:90wv;
    padding:3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.stuff_description {
    @media only screen and (max-width: 1280px) {
        display:none;
    }
}
.stuff_underline {
    @media only screen and (max-width: 1280px) {
        display:none;
    }
}

.foundations {
    margin:0.5em;
    padding:0.5em;
    border: 1px solid white;
    font-size: 1.3em;
    font-weight: lighter;
    text-align: center;
    color:rgb(82, 80, 80);
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 460px){
        width:10em;
        height: 4em;
    }
}
.foundations:hover {
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.foundations_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 460px){
        flex-wrap: wrap;
    }
}
.foundations_text {
    font-family: 'Open Sans', sans-serif;
    color: DIMGRAY;
    width: 70%;
    line-height: 1.5em;
    text-align: center;
    padding: 1em 0;
    margin:2em;
}